@model SII_DaysOff.Models.UserVacationDays

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserVacationDays</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="Year" class ="form-control" asp-items="ViewBag.Year"></select>
            </div>
            <div class="form-group">
                <label asp-for="AcquiredDays" class="control-label"></label>
                <input asp-for="AcquiredDays" class="form-control" />
                <span asp-validation-for="AcquiredDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalDays" class="control-label"></label>
                <input asp-for="AdditionalDays" class="form-control" />
                <span asp-validation-for="AdditionalDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class ="form-control" asp-items="ViewBag.CreatedBy"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <select asp-for="ModifiedBy" class ="form-control" asp-items="ViewBag.ModifiedBy"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModificationDate" class="control-label"></label>
                <input asp-for="ModificationDate" class="form-control" />
                <span asp-validation-for="ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
