<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SII DaysOff</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SII_DaysOff.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link href="~/fullcalendar/fullcalendar-6.1.13/dist/index.global.min.js" rel="stylesheet" />

	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/site.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>
	@if (!ViewData["notShow"].Equals(true) || ViewData["notShow"] == null)
	{
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar-custom">
				<div class="container-fluid">
					<div class="col-3">
						<img src="~/img/siigroup-spain-whiteline.png" class="navBar mx-4" />
					</div>
					<div class="col-6 d-flex justify-content-center">
						<a id="manage" class="nav-link text-light title" asp-controller="Home" asp-action="Main">SII DaysOff</a>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<partial name="_LoginPartial" />
					</div>
				</div>
			</nav>
		</header>
	}


	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-muted">
		<div class="align-content-start mx-5">
			&copy; SII
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/fullcalendar/fullcalendar-6.1.13/dist/index.global.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
