@using Microsoft.AspNetCore.Identity
@using SII_DaysOff.Areas.Identity.Data

@{
	ViewData["Title"] = "Change password";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@Html.Partial("../Components/ModalCreateReason", new SII_DaysOff.Models.Reasons())

<ul class="navbar-nav">
	@{
		Console.WriteLine("SigendIn ? -> " + SignInManager.IsSignedIn(User));
	}
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<!--<a class="nav-link text-light mx-5" id="register" asp-area="Identity" asp-page="~/Home/PendingRequests">Awaiting requests</a>-->
		</li>
		<li class="nav-item">
			@if (SignInManager.IsSignedIn(User))
			{
			<a id="manage" class="nav-link text-light">@UserManager.GetUserName(User)!</a>
			<div class="submenu bg-light shadow-lg px-4 py-1 rounded-3">
				<div class="row my-2">
					<!-- 
						data-bs-toggle="modal" data-bs-target="#passModal"
						asp-area="Identity" asp-page="/Account/Manage/ChangePassword"
					-->
						<a class="btn btn-outline-primary fw-bold" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change password</a>
				</div>
				@{
					var user = await UserManager.GetUserAsync(User);
				}
				<div class="row my-2">
					<!--
						 asp-area="Identity" asp-page="/Account/Register"
						 data-bs-toggle="modal" data-bs-target="#registerModal"
					-->
						<a class="btn btn-outline-primary fw-bold" asp-area="Identity" asp-page="/Account/Register">Register new user</a>
				</div>
				<div class="row my-2">
					<!-- asp-controller="Reasons" asp-action="Create" -->
					<a class="btn btn-outline-primary fw-bold" data-bs-toggle="modal" data-bs-target="#reasonModal">Register new reason</a>
				</div>
				<div class="row my-2 mx-4">
					<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button class="btn btn-outline-primary fw-bold">Logout</button>
					</form>
				</div>
			</div>
			}
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}