@page
@model SII_DaysOff.Areas.Identity.Pages.Account.RegisterModel

<!-- Modal registrar nuevo usuario -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="registerModalModalLabel">Register new user</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--<form id="registerForm" method="post">
                    <h2>Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Profile" class="form-control" autocomplete="profiule" aria-required="true" />
                        <label asp-for="Input.Profile"></label>
                        <span asp-validation-for="Input.Profile" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.AvailableDays" class="form-control" autocomplete="availabledays" aria-required="true" />
                        <label asp-for="Input.AvailableDays"></label>
                        <span asp-validation-for="Input.AvailableDays" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.AcquiredDays" class="form-control" autocomplete="acquireddays" aria-required="true" />
                        <label asp-for="Input.AcquiredDays"></label>
                        <span asp-validation-for="Input.AcquiredDays" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.RemainingDays" class="form-control" autocomplete="remainingdays" aria-required="true" />
                        <label asp-for="Input.RemainingDays"></label>
                        <span asp-validation-for="Input.RemainingDays" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>-->
                <button type="submit" class="w-100 btn btn-lg btn-primary">Register user</button>
            </div>
        </div>
    </div>
</div>
