@model SII_DaysOff.Areas.Identity.Pages.Account.Manage.ChangePasswordModel

<!-- Modal cambiar contraseña -->
<div class="modal fade" id="passModal" tabindex="-1" aria-labelledby="passModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="passModalLabel">Change password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating my-3">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating my-3">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating my-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>