@model SII_DaysOff.Models.Requests

<!-- Modal que se abre al darle a crear nueva solicitud -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><i class="bi bi-clipboard2-plus-fill"></i>   New request</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="Requests">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!--<div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                        <input asp-for="UserId" class="form-control" />
                    </div>-->
                    <div class="form-group">
                        <label asp-for="ReasonId" class="control-label"></label>
                        <select asp-for="ReasonId" class="form-control" asp-items="ViewBag.ReasonId"></select>
                    </div>
                    <!--<div class="form-group">
                        <label asp-for="StatusId" class="control-label"></label>
                        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                    </div>-->
                    <!--<div class="form-group">
                        <label asp-for="RequestDate" class="control-label"></label>
                        <input asp-for="RequestDate" class="form-control" />
                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                    </div>-->
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HalfDayStart" /> @Html.DisplayNameFor(model => model.HalfDayStart)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HalfDayEnd" /> @Html.DisplayNameFor(model => model.HalfDayEnd)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comments" class="control-label"></label>
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                        <label asp-for="CreatedBy" class="control-label"></label>
                        <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                    </div>-->
                    <!--<div class="form-group">
                        <label asp-for="CreationDate" class="control-label"></label>
                        <input asp-for="CreationDate" class="form-control" />
                        <span asp-validation-for="CreationDate" class="text-danger"></span>
                    </div>-->
                    <!--<div class="form-group">
                        <label asp-for="ModifiedBy" class="control-label"></label>
                        <select asp-for="ModifiedBy" class="form-control" asp-items="ViewBag.ModifiedBy"></select>
                    </div>-->
                    <!--<div class="form-group">
                        <label asp-for="ModificationDate" class="control-label"></label>
                        <input asp-for="ModificationDate" class="form-control" />
                        <span asp-validation-for="ModificationDate" class="text-danger"></span>
                    </div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
