@model SII_DaysOff.Areas.Identity.Pages.Account.RegisterModel

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="registerModalModalLabel">Register new user</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerForm" method="post">
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>
