.navbar-custom {
    background-color: #004278;
}

img.navBar {
    width: 70px;
}

.custom-progressive-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white !important;
    padding-bottom: 8px;
}

    .custom-progressive-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 5px;
        background-color: white;
        transition: width 0.3s ease-in-out;
    }

    .custom-progressive-link:hover::after {
        width: 100%;
    }

.custom-go-back-link {
    text-decoration: none;
}

.custom-go-back {
    text-decoration: none;
    color: #999999;
    border: 1px solid #DFDFDF;
    padding-inline: 7px;
    padding-block: 4px;
    transition: 0.3s;
    margin-left: 35px;
}

    .custom-go-back:hover {
        background-color: #EEEEEE;
    }

/* LOGIN PARTIAL */
.submenu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 200px;
    padding-block: 14px;
    box-shadow: 2px 3px 4px 2px lightgrey;
    margin-top: 0px;
    right: 0;
    transform-origin: top right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

    .submenu a {
        text-decoration: none;
        font-weight: bold;
        color: dimgrey;
        transition: 0.5s;
    }

        .submenu a:hover {
            color: #007eb5;
        }

    .submenu button {
        color: dimgrey;
        transition: 0.5s;
    }

        .submenu button:hover {
            color: #007eb5;
        }

#manage {
    transition: 0.3s;
}

    #manage:hover {
        text-shadow: 2px 2px 4px white;
    }

li .submenu {
    transition: transform 0.5s ease; /* Ajusta la transición aquí también */
}

li:hover .submenu {
    display: block;
    transform: scaleX(1); /* Muestra el submenú escalando en X */
}