.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.custom-container-edit {
    background-color: white;
    padding-block: 2%;
}

.custom-button-LogIn-Register {
    border: 1px solid lightgrey;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 120%;
    color: #828991;
    border-radius: 3px;
    transition: 0.3s;
}

.custom-button-LogIn-Register:hover {
    background-color: #004278;
    color: white;
}

.custom-button-register {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: dimgrey;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: white;
    text-align: center;
}

.custom-button-register:hover {
    border: 1px solid #007eb5;
    box-shadow: none;
    color: #007eb5;
}

.custom-control-label {
    color: darkgrey;
}