@font-face {
    font-family: 'lato';
    /*src: url('~/fonts/Lato-Bold.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: 'lato';*/
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
    /*overflow-y: hidden;*/
}

.custom-button-disabled {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: lightgrey;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: white;
    text-align: center;
}

.custom-button-disabled:hover {
    color: lightgrey;
}

.custom-button {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: dimgrey;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: white;
    text-align: center;
}

.custom-button-register {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: dimgrey;
    transition: 0.3s;
    font-size: 150%;
    margin-inline: 5px;
    background-color: white;
    text-align: center;
}

.custom-button-excel {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 6px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: #097f03;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: white;
    text-align: center;
}

.custom-button-excel:hover {
    border: 1px solid #084403;
    box-shadow: none;
    color: #084403;
}

.custom-button-pdf {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 6px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: #d30012;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: white;
    text-align: center;
}

.custom-button-pdf:hover {
    border: 1px solid #70010f;
    box-shadow: none;
    color: #70010f;
}

.custom-button:hover {
    border: 1px solid #007eb5;
    box-shadow: none;
    color: #007eb5;
    /*font-weight: bold;*/
}

.custom-button-register:hover {
    border: 1px solid #007eb5;
    box-shadow: none;
    color: #007eb5;
    /*font-weight: bold;*/
}

.custom-link {
    text-decoration: none;
    color: dimgrey;
    transition: 0.5s;
}

..custom-link:hover {
    color: #007eb5;
    border: 2px solid black;
}

/* */
.custom-icon {
    font-size: 100px;
    color: dimgrey;
    opacity: 12%;
    transition: 0.5s;
}

.custom-icon-calendar {
    font-size: 25px;
    opacity: 70%;
}

.custom-icon:hover {
    font-size: 110px;
    color: dimgrey;
    opacity: 20%
}

.custom-control-label {
    color: darkgrey;
}

.custom-div {
    width: 30%;
    background-color: white;
}

.no-data-text {
    font-size: 20px;
    color: dimgrey;
    opacity: 50%;
    transition: 0.5s;
}

.no-data-text:hover {
    font-size: 30px;
    opacity: 70%;
}

/* _LoginPartial */
.submenu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 200px;
    padding-block: 14px;
    box-shadow: 2px 3px 4px 2px lightgrey;
    margin-top: 0px;
}

.submenu a {
    text-decoration: none;
    font-weight: bold;
    color: dimgrey;
    transition: 0.5s;
}

.submenu a:hover {
    color: #007eb5;
}

.submenu button {
    color: dimgrey;
    transition: 0.5s;
}

.submenu button:hover {
    color: #007eb5;
}

#manage {
    transition: 0.3s;
}

#manage:hover {
    text-shadow: 2px 2px 4px white;
}

li .submenu{
    transition: 2s;
}

li:hover .submenu {
    display: block;
}

/*Navbar*/
.navbar-custom {
    background-color: #004278;
}

.navbar-custom-return {
    background-color: whitesmoke;
    opacity: 100%;
}

.custom-icon-return {
    color: dimgrey;
    opacity: 80%;
    font-size: 25px;
}

img.login {
    width: 300px;
}

.no-data {
    align-content: center;
    font-size: 130px;
}

img.navBar {
    width: 70px;
}

a.title {
    font-size: 20px;
}

.date-own {
    display: none;
}

.iconManageAccept {
    color: lightgreen;
    font-size: 20px;
    margin-right: 10px
}

.iconManageCancel {
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.custom-list-group {
    background-color: #004278;
    color: white;
}

.custom-filter-link {
    color: white;
    transition: 0.5s;
}

.custom-filter-link:hover {
    color: #007eb5;
}

.custom-icon-edit-delete {
    transition: 0.2s;
}

.custom-icon-edit-delete:hover {
    font-size: 20px;
}

.custom-nav-link {
    color: black;
    transition: 0.5s;
}

.custom-nav-link:hover {
    color: #007eb5;
}

.cardRequests {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.nav-link.active {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.fc .fc-button-primary {
    background-color: #004278;
}

.fc-col-header-cell {
    background-color: #004278;
}

.fc-col-header-cell-cushion {
    color: white;
}

.fc-day-today {
    background-color: #b8d1ec !important;
}

.rotate {
    transform: rotate(-90deg);
}

.btn-xl {
    width: 250px;
    height: 38px;
}

.test {
    overflow-x: auto;
}
