@font-face {
    font-family: 'lato';
    /*src: url('~/fonts/Lato-Bold.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: 'lato';*/
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
    /*overflow-y: hidden;*/
}

.custom-button-disabled {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: lightgrey;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: whitesmoke;
    text-align: center;
}

.custom-button-disabled:hover {
    color: lightgrey;
}

.custom-button {
    border: 1px solid lightgrey;
    padding-inline: 10px;
    padding-block: 3px;
    text-decoration: none;
    box-shadow: 1px 2px 3px 1px lightgrey;
    color: dimgrey;
    transition: 0.3s;
    font-size: 100%;
    margin-inline: 5px;
    background-color: whitesmoke;
    text-align: center;
}

.custom-button:hover {
    border: 1px solid #007eb5;
    box-shadow: none;
    color: #007eb5;
    /*font-weight: bold;*/
}

/* _LoginPartial */
.submenu {
    display: none;
    position: absolute;
    z-index: 9999;
}

#manage:hover {
    text-shadow: 2px 2px 4px white;
}

li:hover .submenu {
    display: block;
}

/*Navbar*/
.navbar-custom {
    background-color: #004278;
}

img.login {
    width: 300px;
}

.no-data {
    align-content: center;
    font-size: 130px;
}

img.navBar {
    width: 70px;
}

a.title {
    font-size: 20px;
}

.date-own {
    display: none;
}

.iconManageAccept {
    color: lightgreen;
    font-size: 20px;
    margin-right: 10px
}

.iconManageCancel {
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.cardRequests {
    max-height: 400px;
    overflow-y: auto;
}

.nav-link.active {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.fc .fc-button-primary {
    background-color: #004278;
}

.fc-col-header-cell {
    background-color: #004278;
}

.fc-col-header-cell-cushion {
    color: white;
}

.fc-day-today {
    background-color: #b8d1ec !important;
}

.rotate {
    transform: rotate(-90deg);
}

.btn-xl {
    width: 250px;
    height: 38px;
}

.test {
    overflow-x: auto;
}
