@font-face {
    font-family: 'lato';
    src: url('~/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width:767px) {
    .fc-toolbar.fc-header-toolbar {
        font-size: 60%
    }
}

body {
    /*font-family: 'lato';*/
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
}

.custom-form:hover {
    border: 2px solid #004278;
}

/* */
.custom-div {
    width: 30%;
    background-color: white;
}

/*Navbar*/

.custom-icon-return {
    color: dimgrey;
    opacity: 80%;
    font-size: 20px;
}

.custom-icon-return:hover {
    font-size: 25px;
    color: #004278;
}

img.login {
    width: 300px;
}

a.title {
    font-size: 20px;
}

.date-own {
    display: none;
}

.iconManageAccept {
    color: lightgreen;
    font-size: 20px;
    margin-right: 10px
}

.iconManageCancel {
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.custom-list-group {
    background-color: #004278;
    color: white;
}

.nav-link.active {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.fc .fc-button-primary {
    background-color: #004278;
}

.fc-col-header-cell {
    background-color: #004278;
}

.fc-col-header-cell-cushion {
    color: white;
}

.fc-day-today {
    background-color: #b8d1ec !important;
}

.rotate {
    transform: rotate(-90deg);
}

.btn-xl {
    width: 250px;
    height: 38px;
}

.test {
    overflow-x: auto;
}
