@model SII_DaysOff.Models.Reasons

@{
    ViewData["Navigation"] = "Reasons";
    ViewData["notShow"] = false;
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="ms-3">Delete reason</h1>
<hr />
<div class="row d-flex justify-content-center bg-white py-2 container-fluid mx-auto py-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 col-xxl-4 p-0 p-md-5">
        <div class="row">
            <div class="col-12 mb-3">
                <h3 style="color: #d30012;">Are you sure you want to delete this?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-7 col-md-6 fw-bold">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-5 col-md-6 custom-form-delete">
                <span>@Html.DisplayNameFor(model => model.Name)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-7 col-md-6 fw-bold">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-5 col-md-6 custom-form-delete">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form asp-action="Delete" class="my-4">
                    <input type="hidden" asp-for="ReasonId" />
                    <input type="submit" value="Delete" class="custom-button" />
                </form>
            </div>
        </div>
    </div>
</div>
