@model SII_DaysOff.Models.Reasons

@{
    ViewData["Navigation"] = "Reasons";
    ViewData["notShow"] = false;
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="ms-3">Edit reason</h1>
<hr />
<div class="container-fluid">
	<div class="custom-container-edit mx-auto">
		<div class="row p-3 d-flex justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 col-xxl-4">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row d-flex justify-content-start py-2">
						<div class="col-12">
                            <input type="hidden" asp-for="ReasonId" />
                            <input type="hidden" asp-for="CreatedBy" />
                            <input type="hidden" asp-for="CreationDate" />
                            <input type="hidden" asp-for="ModifiedBy" />
                            <input type="hidden" asp-for="ModificationDate" />
							<div class="form-group">
                                <label asp-for="Name" class="control-label fw-bold"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-start py-2">
						<div class="col-12">
							<div class="form-group">
                                <label asp-for="Description" class="control-label fw-bold"></label>
                                <textarea asp-for="Description" class="form-control" ></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
                    </div>
                    <div class="row d-flex justify-content-start py-2">
                        <div class="col-4">
                            <div class="form-group">
                                <input type="submit" value="Save" class="custom-button" />
                            </div>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>






@* <h4>Reasons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReasonId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <select asp-for="ModifiedBy" class="form-control" asp-items="ViewBag.ModifiedBy"></select>
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModificationDate" class="control-label"></label>
                <input asp-for="ModificationDate" class="form-control" />
                <span asp-validation-for="ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
