@{
    ViewData["notShow"] = false;
    ViewData["Title"] = "Calendar";
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="requests" asp-action="ExportExcel" class="btn btn-outline-success fw-bold mb-3" asp-route-type="requests">Export requests</a>
<a asp-controller="requests" asp-action="ExportExcel" class="btn btn-outline-success fw-bold mb-3" asp-route-type="calendar">Export Excel Calendar</a>
<button id="printPDF" class="btn btn-outline-primary fw-bold mb-3">Export calendar</button>

<div id="parentDiv">
    <div id="calendar"></div>
</div>