@{
	ViewData["Navigation"] = "Main";
	ViewData["notShow"] = false;
	ViewData["Title"] = "Calendar";
}

@Html.Partial("../Components/ModalSelectYear")
@Html.Partial("../Components/ModalSelectStatusExport")

<h1>@ViewData["Title"]</h1>

<div class="my-4">
	<button type="submit" data-bs-toggle="modal" data-bs-target="#statusExportModal" class="custom-button-excel">Export requests</button>
	<!--<a asp-action="ExportExcel" asp-controller="requests" asp-route-type="calendar" class="custom-button-excel">Export Excel Calendar</a>-->
	<button type="submit" data-bs-toggle="modal" data-bs-target="#calendarModal" class="custom-button-excel">Export Excel Calendar</button>
	<button id="printPDF" class="custom-button-pdf">Export PDF calendar</button>
</div>



<div class="toast">
	<div class="toast-header">
		<strong class="me-auto">Toast Header</strong>
		<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
	</div>
	<div class="toast-body">
		<p>Some text inside the toast body</p>
	</div>
</div>

<div id="parentDiv">
	<div id="calendar"></div>
</div>