@{
    ViewData["notShow"] = false;
    ViewData["Title"] = "Calendar";
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="requests" asp-action="ExportExcel">Export</a>

@*<button id="btnPDF" class="btn btn-primary">Export calendar</button>*@

<button id="printPDF" class="btn btn-outline-primary fw-bold mb-3">Export calendar</button>

<div id="parentDiv">
    <div id="calendar"></div>
</div>