@model SII_DaysOff.Models.Requests

@{
	ViewData["notShow"] = false;
	ViewData["Title"] = "Edit";
}

<h1 class="d-flex ms-3">Edit request</h1>
<hr />
<div class="container-fluid">
	<div class="custom-container-edit mx-auto">
		<div class="row p-3 d-flex justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 col-xxl-4">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row d-flex justify-content-start py-2">
						<div class="col-12">
							<input type="hidden" asp-for="RequestId" />
							<div class="form-group">
								<label asp-for="ReasonId" class="control-label fw-bold"></label>
								<select asp-for="ReasonId" class="form-control custom-form" asp-items="ViewBag.ReasonId"></select>
								<span asp-validation-for="ReasonId" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-start align-items-center py-2">
						<div class="col-6">
							<div class="form-group">
								<label asp-for="StartDate" class="control-label fw-bold"></label>
								<input asp-for="StartDate" class="form-control custom-form" />
								<span asp-validation-for="StartDate" class="text-danger"></span>
							</div>
						</div>
						<div class="col-6 d-flex justify-content-end">
							<div class="form-group form-check">
								<label class="form-check-label fw-bold">
									<input class="form-check-input" asp-for="HalfDayStart" /> @Html.DisplayNameFor(model => model.HalfDayStart)
								</label>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-start align-items-center py-2">
						<div class="col-6">
							<div class="form-group">
								<label asp-for="EndDate" class="control-label fw-bold"></label>
								<input asp-for="EndDate" class="form-control custom-form" />
								<span asp-validation-for="EndDate" class="text-danger"></span>
							</div>
						</div>
						<div class="col-6 d-flex justify-content-end">
							<div class="form-group form-check">
								<label class="form-check-label fw-bold">
									<input class="form-check-input" asp-for="HalfDayEnd" /> @Html.DisplayNameFor(model => model.HalfDayEnd)
								</label>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-start py-2">
						<div class="col-12">
							<div class="form-group">
								<label asp-for="Comments" class="control-label fw-bold"></label>
								<textarea asp-for="Comments" class="form-control custom-form"></textarea>
								<span asp-validation-for="Comments" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-start py-2">
						<div class="col-4">
							<div class="form-group">
								<input type="submit" value="Save" class="custom-button" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
