@page
@model ChangePasswordModel
@{
    ViewData["Navigation"] = "Main";
    ViewData["notShow"] = false;
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "../../Views/Shared/_Layout";
}

<h3 class="d-flex ms-3">@ViewData["Title"]</h3>
<hr />
<div class="container-fluid">
    <div class="custom-container-edit mx-auto">
        <div class="row p-3 d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xxl-4">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row d-flex justify-content-start py-2">
                        <div class="col-12 py-3">
                            <div class="form-floating">
                                <input asp-for="Input.OldPassword" class="form-control custom-form" autocomplete="current-password" aria-required="true" />
                                <label asp-for="Input.OldPassword" class="form-label"></label>
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start py-2">
                        <div class="col-12 py-3">
                            <div class="form-floating">
                                <input asp-for="Input.NewPassword" class="form-control custom-form" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.NewPassword" class="form-label"></label>
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start py-2">
                        <div class="col-12 py-3">
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control custom-form" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start py-2">
                        <div class="col-12 py-3">
                            <button type="submit" class="custom-button-register">Update password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-start py-2">
    <div class="col-12">
    </div>
</div>










<!--<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>-->

<script>
    /* Modal enviar solicitud 
    const myModal = document.getElementById("myAlert")

    myModal.addEventListener('show.bs.modal', event => {
        console.log('mostrado')
    })
    myModal.addEventListener('hide.bs.modal', event => {
        console.log('cerrado')
    })

    const myModalI = bootstrap.Modal.getOrCreateInstance('#exampleModal')
    myModalI.show()*/
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
