@page
@model LoginModel

@inject UserManager<ApplicationUser> UserManager

@{
    //Layout = null;
    ViewData["Title"] = "SII DaysOff";
    ViewData["notShow"] = true;
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="container my-5">
    <div class="row my-3">
        <img src="~/img/siigroup-spain-blueline.png" alt="Alternate Text" class="login mx-auto d-block" />
    </div>
    <h1 class="text-center fw-bold">@ViewData["Title"]</h1>
    <div class="row my-4">
        <div class="col-md-3 container-fluid">
            <section>
                <form id="account" method="post">
                    <h5>Log in to your account</h5>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p class="my-2">Identifier</p>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"><i class="bi bi-person-circle"></i>  Account Identifier</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <p class="my-2">Password</p>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"><i class="bi bi-key-fill"></i>  Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="" type="submit" class="w-100 btn btn-lg btn-outline-primary my-3" 
                                asp-for="ReturnUrl" value="~/Home/Main" asp-route-optionStatus="Pending">
                            <i class="bi bi-box-arrow-in-right"></i> Log in
                        </button>
                    </div>
                    <hr class="my-3" />
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
